<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 sidebar">
      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a [routerLink]="risks" class="nav-link active">
              Marketing Plan
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="risks" class="nav-link">
              Dashboard
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="risks" class="nav-link">
              My ads
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="risks" class="nav-link">
              Analytics
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="risks" class="nav-link">
              InControl Store
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 col-lg-10">
      <div class="">
        <div class='table-responsive'>
          <table class='table'>
            <thead>
              <tr>
                  <th>ChamberOfCommerceNumber</th>
                  <th>Risk Level</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let risk of riskLevels'>
                <td>{{ risk.chamberOfCommerceNumber }}</td>
                <td>{{ risk.riskLevel }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>
  </div>
</div>
<div *ngIf='errorMessage' class='alert alert-danger'>
  Error: {{ errorMessage }}
</div>